body {
  padding-top: 0px;
}

.show-cart li {
  display: flex;
}

.card-img-top {
  width: 200px;
  height: 200px;
  align-self: center;
  border-radius: 20px!important;
}

.h4, h4 {
    font-size: 20px!important;
}

.poscards{
	margin-bottom: 20px!important;
	height: 300px!important;
	width: auto;
	padding: 5px;
}


.btn-primary1 {
    color: #fff;
    background-color: #007bff;
    width: 130%;
    border-color: #007bff;
    font-size: 12px;
}
