body {
  padding-top: 80px;
}

.show-cart li {
  display: flex;
}

.card-img-top {
  width: 200px;
  height: 200px;
  align-self: center;
  border-radius: 20px!important;
}

.h4, h4 {
    font-size: 20px!important;
}

.poscards{
	margin-bottom: 20px!important;
	height: 300px!important;
	width: auto;
	padding: 5px;
}

